.app__header {  
    position: relative;

 .app__header_bg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: url('../../assets/header_bg.png');
    background-position: center;
    background-size: cover;
//     background-repeat: repeat;
//     background-attachment: fixed;
    filter:grayscale(60%);
    filter:brightness(50%);
     
    @media screen and (max-width: 450px) {
        background-position: center;
        background-size: cover;
          margin: 2rem;
    }
    
  }

  .app__header_info {
    padding-left: 2rem;
    margin: 5rem;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-direction: column;
    z-index: 1;

    @media screen and (max-width: 850px) {
        padding: 0;
        margin: 3rem;  
    }

    @media screen and (max-width: 650px) {
        padding: 0;
        margin: 2rem;  
    }

    @media screen and (max-width: 450px) {
        padding: 0;
        margin: 2rem;
    }

    .app__header-h1 {
        font-family: var(--font-base);
        color: var(--color-golden);
        font-weight: 700;
        letter-spacing: 0.04em;
        text-transform: capitalize;
        line-height: 117px;
        font-size: 90px;

        @media screen and (min-width: 2000px) {
            font-size: 180px;
            line-height: 210px;
        }

        @media screen and (max-width: 1150px) {
            font-size: 90px;      
        }

        @media screen and (max-width: 650px) {
            font-size: 70px;
            line-height: 87px;
        }

        @media screen and (max-width: 450px) {
            font-size: 32px;
            line-height: 60px;
        }
    }


  }

}

